@import './_mixins.scss';
@import './variables.scss';
.calendar-block {}

.date-block {
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    &__border {
        position: absolute;
        z-index: $border-zindex;
    }
}

@include bottom-date-border();
@include right-date-border();
.month-block {
    position: relative;
    display: inline-block;
    .date-block {
        &:first-child {
            @include outer-date-border('top');
            @include top-date-border($border-outer-width, $border-outer-color, $border-width);
        }
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7) {
            @include outer-date-border('left');
            @include left-date-border($border-outer-width, $border-outer-color, $border-width);
        }
        &:last-child {
            @include outer-date-border('bottom');
            @include bottom-date-border($border-outer-width, $border-outer-color);
        }
        &:nth-last-child(1),
        &:nth-last-child(2),
        &:nth-last-child(3),
        &:nth-last-child(4),
        &:nth-last-child(5),
        &:nth-last-child(6),
        &:nth-last-child(7) {
            @include outer-date-border('right');
            @include right-date-border($border-outer-width, $border-outer-color);
        }
    }
    &:first-child {
        .date-block {
            &:first-child {
                @include outer-date-border('top');
                @include top-date-border($border-outer-width, $border-outer-color, $border-width);
            }
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7) {
                @include outer-date-border('left');
                @include left-date-border($border-outer-width, $border-outer-color, $border-width);
            }
        }
    }
    &:last-child {
        .date-block {
            &:last-child {
                @include outer-date-border('bottom');
                @include bottom-date-border($border-outer-width, $border-outer-color);
            }
            &:nth-last-child(1),
            &:nth-last-child(2),
            &:nth-last-child(3),
            &:nth-last-child(4),
            &:nth-last-child(5),
            &:nth-last-child(6),
            &:nth-last-child(7) {
                @include outer-date-border('right');
                @include right-date-border($border-outer-width, $border-outer-color);
            }
        }
    }
    .date-block.date-block--day-0 {
        @include outer-date-border('top');
        @include top-date-border($border-outer-width, $border-outer-color, $border-width);
    }
    .date-block.date-block--day-6 {
        @include outer-date-border('bottom');
        @include bottom-date-border($border-outer-width, $border-outer-color);
    }
}